<div nz-row>
    <div nz-col nzSpan="2" nzOffset="1">
        <button nz-button type="default">Back</button>
    </div>
    <div nz-col nzSpan="2" nzOffset="18">
        <button nz-button type="primary">Trade</button>
    </div>
    <br>
    <br>
    <div nz-col nzSpan="8" nzOffset="2" class="bgGray medHeight">
        Item 1 here
    </div>
    <div nz-col nzSpan="8" nzOffset="4" class="bgGray medHeight">
        Item 2 here
    </div>
    <br>
    <div nz-col nzSpan="8" nzOffset="4">
        Item 1 button
    </div>
    <div nz-col nzSpan="8" nzOffset="4">
        
    </div>
    <br>
    <div nz-col nzSpan="16" nzOffset="4" class="bgGray medHeight">
        Chat goes here
    </div>
</div>