<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8">
        <form nz-form>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input placeholder="Username" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input placeholder="Name" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password again!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input placeholder="Password again" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input placeholder="Email" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                      <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input placeholder="Wallet" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                <div nz-row>
                  <div nz-col nzSpan="4">
                    <button nz-button class="login-form-button login-form-margin" nzType="default">Back</button>
                  </div>
                  <div nz-col nzSpan="4" nzOffset="16">
                    <button nz-button class="login-form-button login-form-margin pos-right" nzType="primary">Register</button>
                  </div>
                </div>
        </form>
    </div>
</div>