<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8">
        <form nz-form>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input placeholder="username" [(ngModel)]="username" name="username"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input placeholder="name" [(ngModel)]="name" name="name"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input placeholder="password" [(ngModel)]="password" name="password"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password again!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input placeholder="password again" [(ngModel)]="password_rep" name="password_rep"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" nz-input placeholder="email" [(ngModel)]="email" name="email"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                      <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input placeholder="WalletID" [(ngModel)]="walletID" name="walletID"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                <div nz-row>
                  <div nz-col nzSpan="4">
                    <button nz-button class="login-form-button login-form-margin" nzType="default" routerLink="/logIn">Back</button>
                  </div>
                  <div nz-col nzSpan="4" nzOffset="16">
                    <button nz-button class="login-form-button login-form-margin pos-right" nzType="primary" (click)="wrapper()">Register</button>
                  </div>
                </div>
        </form>
    </div>
</div>