<div nz-row>
  <div nz-col nzSpan="2">
    <h3 nz-typography>Market</h3>
  </div>
  <div nz-col nzSpan="2" nzOffset="20">
    <button nz-button nzType="primary" routerLink="/upload">Upload</button>
  </div>
</div>
<div class="files">
    <nz-spin [nzSpinning]="isLoading">
      <div *ngIf="offers.length" nzBordered>
        <div nz-row *ngFor="let item of offers" class="item">
          <br>
            <div nz-col nzSpan="2"><i nz-icon nzType="star" nzTheme="outline"></i></div>
            <div nz-col nzSpan="4">{{ item.nft_id }}</div>
            <div nz-col nzSpan="4">{{ item.seller }}</div>
            <div nz-col nzSpan="4">{{ item.buyer }}</div>
            <div nz-col nzSpan="4">{{ item.amount }}</div>
            <div nz-col nzSpan="4">{{ item.createdAt }}</div>
            <div nz-col nzSpan="2"><button nz-button nzType="default" (click)="trade(item)">Offer</button></div>
            <br>
            <nz-divider></nz-divider>
        </div>
    </div>

      <div *ngIf="!offers.length">
        <br /><br />
        <nz-empty
          (contextmenu)="contextMenuEmpty($event, ctxMenuEmpty)"
        ></nz-empty>
      </div>
    </nz-spin>
</div>